<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <div class="content">
        <h1>Hi Jaga </h1>
        <p>Get Set Go!</p>
    </div>
    <div class="components" style="width:30%;">
      <h2>forms</h2>
      <input type="text" class="inp" placeholder="Hello there">
      <br>
      <button class="btn btn-primary">Submit</button>
      <button class="btn btn-secondary">Submit</button>
      <h2>Typography</h2>
      <div class="error-balloon">Houston! We have a problem</div>
      <p>Myrmidons! My brothers of the sword! I would rather fight beside you than any army of thousands! Let no man forget how menacing we are! We are lions! Do you know what's there, waiting beyond that beach? Immortality! Take it! It's yours!</p>
    </div>
</body>
</html>
