//colors;

$brand-primary:     #6100ab;
$primary-plus:      #40036f;
$color-secondary:   #d2d2d2;
$secondary-plus:    #b2b2b2;
$font-color:        #222222;
$font-color-top:    #ffffff;

$color-error:       #bb0606;


// dimensions

$std-margin:        20px;
$std-padding:       20px;
$micro-margin:      10px;
$micro-padding:     10px;


// fonts
$font-xl:           24px;
$font-l:            18px;
$font-m:            16px;
$font-r:            16px;
